.widget-nav {
    width: 216px;
    background-color: #ededed;
    float: left;
    min-height: 100vh;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    .nav-links {
        margin: 0;
        padding: 0;
        text-align: right;
        list-style: none;
        margin-top: 174px;
        li {
            margin-bottom: 8px;
        }
        a {
           
            color: #474848;
            padding: 8px 24px;
            display: block;
            opacity: 0.5;
            font-family: "Rubik-Medium";
            text-decoration: none;
            &.active-link, &:hover {
                opacity: 1;
            }
            &.active-link {
                box-shadow: inset -4px 0px 0 0 #fdb22b;
            }
        }
    }
    .widget-nav-footer {
        position: absolute;
        left: 18px;
        right: 24px;
        bottom: 20px;
    }
}
.widget-component {
    margin-left: 72px;
    position: relative;
    .widget-content {
        min-height: 100vh;
        margin-left: 216px;
        padding: 48px 49px 0 49px;
        color: #474848;
        .widget-close {
            background: url( '../images/widget-close.png' ) no-repeat center center;
            background-size: 100%;
            width: 48px;
            height: 48px;
            position: absolute;
            right: 48px;
            top: 48px;
        }
    }
    .email-camp-channel {
        font-size: 15px;
        line-height: 34px;
    }
    .email-icon-wrapper {        
        border-radius: 2px;
        border: solid 2px rgba(150, 150, 150, 0.23);
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
        color: #157EFB;
        width: 30px;
        height: 30px;
        background:#ffffff url('../images/msg-env.png') no-repeat center center;
        background-size: 21px 14px;

    }
    .widget-title {
        font-size: 40px;
        line-height: 1.4;
        letter-spacing: -0.1px;
        color: #000000;
        font-family: "Rubik-Medium";
        margin-top: 28px;

    }
    .widget-sub-title {
        font-family: Rubik;
        font-size: 20px;
        line-height: 1.2;
        color: #000000;
        margin-top: 15px;
    }
    .widget-description {
        font-size: 15px;
        line-height: 1.6;
        margin-top: 16px;
        margin-bottom: 0;
    }
    .wc-primary-section {
        background-color: rgba(249, 249, 249, 0.99);
        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
        padding-top: 23.6px;
        margin: 0 -49px;
        padding:  24px 51px 33px 51px;
        margin-top: 26px;
        .wc-primary-section-content {
            max-width: 625px;
        }
    }
    .widget-switch {
        width: 48px;
        height: 24px;
        border-radius: 100px;
        background-color: #fff;
        display: inline-block;
        position: relative;
        border: solid 1px #bfbfbf;
        cursor: pointer;
        vertical-align: middle;
        .switch-point{
            width: 18px;
            height: 18px;
            position: absolute;
            border-radius: 100px;
            background-color: #afafb5;
            top: 2px;
            left: 3px;
        }
        &.switch-on {
            border: solid 1px #fdb22b;
            background: #fdb22b;
            .switch-point{
                right: 2px;
                left: auto;
                background-color: #fff;
            }
        }
    }
    .angle-down-arrow {
        display: inline-block;
        vertical-align: middle;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(230deg);
        margin-top: 8px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            width: 2px;
            height: 7px;
            background-color: #9a9da1;
        }
        &:before{
            position: absolute;
            content: "";
            width: 7px;
            height: 2px;
            background-color: #9a9da1;
            top: -1px;
            left: 0px;
            -ms-transform: rotate(-19deg);
            -webkit-transform: rotate(-19deg);
            transform: rotate(-19deg);
        }
    }
}
