.secondary-nav {
    height: 100vh;
    .layer1,.layer2 {
        min-height: 100vh;
    }

    color: #fff;
    margin-left: 0px;
    .msg-count {
        min-width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        /*color: #fff;
        background: #138536;*/
        display: inline-block;
        border-radius: 10px;
        font-size: 12px;
        padding: 0 5px 0 4px;
        vertical-align: middle;
    }
    .user-info {
        padding: 20px 12px  16px 42px;
        box-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.2);
        .title {
            margin: 0;
            font-size: 17px;
            margin-bottom: 7px;
            font-family: Rubik-Medium;
            text-transform: capitalize;
        }

    }
    .menu-hamburger {
        position: absolute;
        top: 22px;
        left: 10px;
        cursor:pointer;
        font-size: 20px;

    }
    .user-name {
        margin-bottom: 0;
        position: relative;
        padding-left: 10px;
        margin-left: -10px;
        font-size: 15px;
        .available-status {
            height: 4px;
            width: 4px;
            position: absolute;
            left: 3px;
            top: 6px;
            z-index: 1
        }
    }
    .team-name {
        color: rgba(255, 255, 255, 0.6);
        font-size: 12px;
        letter-spacing: 0.1px;
        margin-top: -3px;
        margin-bottom: 0;
    }

    .direct-message {
        padding: 15px 12px;
        padding-bottom: 17px;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.2);
        .title {
            font-size: 14px;
            margin: 0;
            padding: 0;
            margin-right: 50px;
            font-weight: normal;
        }
        .item-features {
            position: absolute;
            top: 13px;
            right: 12px;
        }
        .pencil-wrapper {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: inline-block;
            text-align: center;
            margin-left: 8px;
            background: url( './files/icon-new-message.svg') no-repeat;
            background-size: 100%;
            vertical-align: middle;
            &:hover  {
                background-image: url( './files/icon-new-nessage-hover.svg' );
            }
        }



    }
    .chat-lists-wrapper {
      display: flex;
        padding: 10px 12px;
    }
    .channel-chat-list {
      font-size: 12px;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: 18px;
        &.tags {
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        .channel-name-text {
            opacity: 0.87;
        }
    }
    .chat-list-title {
        font-size: 12px;
        letter-spacing: 1.4px;
        position: relative;
        margin-bottom: 7px;
        color: #fff;
        .title-text {
            display: block;
            padding-right: 18px;
            font-family: Rubik-Medium;
            opacity: 0.6;

        }
        .plus-icon {
            background: url( './files/icon-add-channel.svg') no-repeat;
            background-size: 100%;
            height: 20px;
            width: 20px;
            position: absolute;
            top: -2px;
            right: 0px;
            opacity: 0.6;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }
    .chat-message {
        margin: 0 -14px;
        margin-bottom: 8px;
        cursor: pointer;
        a {
            cursor: pointer;
            display: block;
            color: #fff;
            text-decoration: none;
            position: relative;
            padding: 10px;
            padding-left: 53px;
            padding-top: 11px;
            padding-right: 35px;
        }
        .img-rounded, .avatar {
            position: absolute;
            height: 28px;
            width: 28px;
            top: 6px;
            left: 13px;
            text-align: center;
            line-height: 28px;
            border-radius: 2px;
            text-transform: uppercase;
        }
        .img-rounded {
            /*display: none;*/
            background-color: transparent;
        }
        .name {
            max-width: 100%;
            display: inline-block;
            text-transform: capitalize
        }
        .msg-count {
            position: absolute;
            top: 10px;
            right: 13px;
        }

        &:hover {
            a {
                background-color: rgba(0, 0, 0, 0.1);
            }

        }
    }
    .group-chat-list {
        .groups-icon, .lock-icon {
            background-image: url(../images/password-icon-white.svg);
            height: 13px;
            width: 13px;
            display: inline-block;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            vertical-align: middle;
            position: absolute;
            top: 2px;
            right: 4px;
        }

        .groups-icon {
            background-image: url(../images/groups.svg);
        }
        .private-channel {
            padding-right: 38px;
            .groups-icon {
                right: 20px;
            }
            .name {
                padding-right: 40px;
            }
        }
        .name {
            position: relative;
            padding-right: 25px;
        }
    }

}

@media screen and (min-width: 768px) {

    .secondary-nav {
        width: 210px;
        float: left;
        margin-left: 72px;
        .menu-hamburger {
            display: none;
        }
        .user-info {
            padding: 20px 12px  16px 12px;
        }
    }
}

/*just targetted for mobile resolution*/
@media screen and (max-width: 767px) {
    .secondary-nav {
        .chat-list {
            margin-top: 20px;
        }
    }
}

@media screen and (min-width: 1000px) {
    .secondary-nav {
        width: 240px;
    }
}
