.billing-settings {
    .cc-btn {
        display: inline-block;
        margin-top: 20px;
    }
    .next-billing-cycle {
        margin-top: 55px
    }
    .payment-method {
        margin-top: 50px;
        .card-number { 
            margin: 0;
            margin-top: 20px;
        }
    }
}