
.chat-widget-button
{
  height: 48px;
  width: 48px;
  top: auto;
  left: auto;
  bottom: 15px;
  right: 15px;
  background-color: #f7a444;
  position: absolute;
  box-shadow: 0 0 8px rgba(0,0,0,.2);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  background-size: 24px;
  cursor: pointer;
}

.chat-widget {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top-right-radius: 2px;
  top: auto;
  left: auto;
  width: 320px;
  top: 0;
  right: 0px;
  bottom: 0;
  color: #757575;
  line-height: 1.4;
  font-weight: 400;
  font-size: 15px;
  font-family: Rubik;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-shadow: 0 1px 5px rgba(0,50,100,.25);
  -moz-box-shadow: 0 1px 5px rgba(0,50,100,.25);
  box-shadow: 0 1px 5px rgba(0,50,100,.25);
  border-top: 0;
  border-bottom: 0;
  opacity: 1;
  position: fixed;
  z-index: 9999;
  box-sizing: border-box;
  background-color: #fff;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -ms-animation: fadein 1s;
  animation: fadein 1s;
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 15px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f8f8f8;
    border-radius: 15px;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: #f8f8f8;
    border-radius: 15px;
  }
}

.chat-messages-wrapper {
  width: inherit;
}

.conversation-body {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
