.chat-widget {
    .welcome-section {
        padding: 0px 21px;
    }
    .chat-widget-messages {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;

        .chat-widget-message {
            overflow: auto;
            margin-top: 11px;
            position: relative;    
        }
        .chat-avatar {
            width: 28px;
            height: 28px;
            border-radius: 20px;
            border: solid 0.5px rgba(0, 0, 0, 0.1);
            position: absolute;
            right: 2px;
            bottom: 0px;
            &.default-icon {
                opacity: 0.5;
                text-align: center;
            }
            img {
                max-width: 22px;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                position: absolute;
                max-width: 100%;
                transform: translate(-50%, -50%);
            }
        }
        .chat-message-wrapper {
            margin-right: 38px;
            float: right;
        }
        .message-by {
            font-size: 13px;
            text-align: right;
            color: #9da3a6;
            margin-bottom: 0;
            margin-right: 8px;
        }
        .chat-message {
            padding: 6px 9px;
            font-size: 15px;
            border-radius: 9px;
            position: relative;
            max-width: 236px;
            background-color: #138536;
            color: #fff;
            &:after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7px 8px 7px 0;
                position: absolute;
                left: -4px;
                bottom: 10px;
                content: '';
                display: inline-block;
                transition: all ease-in 0.5s;
                border-color: transparent transparent transparent #eeeff0;
                right: -4px;
                left: auto;
                border-width: 7px 0 7px 8px;
                border-color: transparent transparent transparent #138536;
            }
        }
        .chat-widget-message.received {
            .chat-avatar {
                left: 2px;
                right: auto;
                bottom: auto;
                top: 20px;
            }
            .chat-message-wrapper {
                margin-left: 38px;
                margin-right: 0;
                float: left;
            }
            .message-by {        
                text-align: left;
                margin-left: 3px;
            }
            .chat-message {
                max-width: 236px;
                background-color: #eeeff0;
                color: #000;
                &:after {
                    bottom: auto;
                    top: 8px;
                    right: auto;
                    left: -4px;
                    border-color: transparent #eeeff0 transparent transparent;
                    border-width: 7px 8px 7px 0;
                }
            }
        }
        .chat-widget-message.same-user {
            margin-top: 4px;
            .chat-message {
                &:after {
                    content: none;
                }
            }
        }
    }
    .email-prompt {
        margin: 0;
        .email-promt-input {
            border-radius: 5px;
            background-color: #ffffff;
            border: solid 0.5px #e7eaec;
            padding: 7px 13px 6px 13px;
            border: 0;
            outline: none;
            font-size: 14px;
            width: 156px;
        }
        button {
            padding: 0;
            border-radius: 50%;
            display: inline-block;
            margin-left: 8px;
            vertical-align: middle;
            background-color: #138536;
            border: 0;
            overflow: hidden;
            .success-tick {
                display: inline-block;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                outline: none;
                position: relative;  
                width: 32px;
                height: 32px;  
                &:after {
                    position: absolute;
                    width: 6px;
                    height: 2px;
                    background-color: #fff;
                    left: 11px;
                    top: 19px;
                    content: '';
                }
                &:before{
                    position: absolute;
                    width: 2px;
                    height: 12px;
                    background-color: white;
                    left: 16px;
                    top: 8px;
                    content: "";
                }
            }
        }
    }
    .chat-widget-body {
        overflow: auto;
        height: calc(100% - 86px - 40px);
        .chat-widget-body-content {
            padding: 0 12px; 
        }
        
    }
    .chat-widget-header {
         
        background: #eeeff0;
        text-align: right;
        padding: 8px 21px; 
        font-family: 'Rubik-Medium';
        font-size: 13px;
        line-height: 1.85;
        color: #45b166;
        a {
            color: #45b166;
        }
        .angle-down-arrow {
            float: left;
            margin-top: 15px;
            cursor: pointer;
        }

    }
    .chat-widget-footer {
        z-index: 1;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        .post-message-form {
            display: table;
            padding: 11px 0;
            margin: 0;
            background-color: #f7f8f9;
            border: solid 1px #eeeff0;
            .cell {
                display: table-cell;
                width: 1%;
                vertical-align: middle;
            }
            .post-input-wrapper {
                width: 100%;
            }
            .attach-button-wrapper {
                padding: 0 10px; 
            }
            .attach-button {
                height: 24px;
                min-width: 24px;
                background: url(../../images/attach_button.svg) no-repeat;
                display: inline-block;
                background-size: 100%;
                cursor: pointer;
            }
            input {
                background: #fff;
                width: 100%;
                border-radius: 5px;
                border: solid 0.5px #e7eaec;
                padding: 8px 12px 7px 12px;
                height: 32px;
                outline: none;
                margin: 0;
            }
            button {
                margin: 0;
                padding:3px 12px;
                border: 0;
                background: 0;
            }
        }
        .promo-section {
            text-align: center;
            font-size: 13px;
            color: #7f7f7f;
            padding: 6px;
            .promo-logo {
                width: 15.9px;
                height: 13.8px;
                display:inline-block;
                background: url( '../../images/logo.svg') no-repeat ;
                background-size: 100%;
                vertical-align: middle;
                margin-right: 8px;
            }
            a {
                color: #fdb22b;
            }
        } 
    }
    .chat-widget-welcome-msg {
        opacity: 0.5;
        font-size: 13px;
        font-weight: normal;
        line-height: 1.54;
        color: #000000;
        margin-top: 8px;
        margin-bottom: 14px;
    }
    .chat-center-team {
        margin-top: 16px;

        .chat-center-team-name {
            font-size: 20px;
            font-weight: normal;
            line-height: 1.2;
            color: #000000;
            margin-bottom: 2px;
        }
        .chat-center-team-link {
            
            font-size: 13px;
            font-weight: normal;
            line-height: 1.54;
            letter-spacing: 0.1px;
            a {
                color: #45b166;
            }
            margin: 0;
        }
        

    }
    .chat-widget-group-tiles {
        .chat-widget-group-tile {
            width: 48px;
            height: 48px;
            border: solid 2px #ffffff;        
            display: inline-block;
            border-radius: 100%;
            margin-left: -11px;
            background: #FFD900;
            position: relative;
            margin-bottom: 9px;
            &:first-child {
                margin-left:-5px;
            }
            img {
                max-width: 100%;
                border-radius: 100%;
            }
        }
    
    }
}
