.upgrade-success-view {
    max-width: 759px;
    .welcome-details {
        font-size: 15px;
        line-height: 1.33;
        letter-spacing: 0.1px;
        color: #000000;
        margin-top: 23px;
    }
    .buttons-wrapper {
        margin-top: 39px;
        .cc-btn {
            padding: 13px 40px;
            font-size: 20px;
        }
        
    }
    .success-image {
        margin-bottom: 70px;
        max-width: 100%;
    }
}


/*just targetted for mobile resolution*/
@media screen and (max-width: 767px) {
    .upgrade-success-view {
        .success-image {
            margin-bottom: 20px;
        }   
    }
}