.widget-invitation {

    .proactive-invitation {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0.1px;
        color: #000000;
        font-family: 'Rubik-Medium';
        .widget-switch {
            margin-left: 30px;
        }
    }

    .widget-sub-title {
        margin-top: 30px;
    }
    .pro-inv-banner-wrapper {
        margin: 20px -49px 0 -49px;
        img {
            width: 100%;
        }
    }
    select {
        padding: 4px 6px ;
        border-radius: 5px;
        background-color: #ffffff;
        border: solid 0.5px #e7eaec;
        font-family: 'Rubik';
    }
    .select-condition-criteria {
        min-width: 96px;
    }
    .conditions-form {
        margin-top: 41px;
        padding-bottom: 41px;
        .conditions-title {
            font-family: 'Rubik-Medium';
            font-size: 15px;
            line-height: 1.6;
            letter-spacing: 0.1px;
            color: #474848;
            margin-bottom: 20px;
            select {
                margin: 7px;
            }
        }
    }
    .condition-row {
        max-width: 700px; 
        width: 100%;
        display: block;
        margin-bottom: 20px;
        .condition-cell {
            display: inline-block;
            vertical-align: top;
            .cell-content {
                margin-right: 16px;
            }
        }
        .cell1 {
            width: 30%;
        }
        .cell2 {
            width: 30%;
        }
        .cell3 {
            width: 40%;
            .input-field {
                margin-right: 10px 
            }
        }
        select {
            width: 100%;
        }
        .input-field {
            border-radius: 5px;
            background-color: #ffffff;
            border: solid 0.5px #e7eaec;
            padding: 4px 13px;
            max-width: 100%;
        }
        .seconds {
            width: 80px;
        }
    }
    .remove-condition {
        cursor: pointer;
    }
}


/*just targetted for mobile resolution*/
@media screen and (max-width: 767px) {
    .widget-invitation {
        .pro-inv-banner-wrapper {
            margin-left: -15px;
            margin-right: -15px;
        }
        .cell3 .cell-content {
            position: relative;
        }
        .remove-condition {
            position: absolute;
            top: 5px;
            right: -15px;
        }

    }
    .primary-condition-row {
        .cell3 {
            .cell-content {
                width: 100%;
                margin-right:0;
            }
            .input-field {
                max-width: 50px;
            }
        }
    }

}