.header {
    padding: 16px 12px;
    padding-right:0;
    box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.2);
    flex-grow:0;
    .title-section {
        margin-left: 20px;
        position: relative;
        z-index: 2;
        .title {
            font-family: Rubik-Light;
            font-weight: normal;
            margin: 0;
            padding: 0;
            font-size: 16px;
            letter-spacing: -0.5px;
            color: #474848;
            margin-bottom: 14px;
            text-transform: capitalize;
            max-width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            line-height: 1.2;
            padding-right: 24px;
            position: relative;
            display:inline-block;
            max-width: calc(100% - 30px);
            a {
                position: absolute;
                top: 0;
                right: 0px;
            }
        }
        .new-message-btn {
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.5px;
            color: #ffffff;
            border-radius: 3px;
            background-color: #fdb22b;
            text-decoration: none;
            padding: 5px 8px;
            .glyphicon {
                font-size: 10px;
                margin-right: 7px;
            }
        }

    }

    .goback-icon {
        position: absolute;
        top: 15px;
        left: 15px;
        cursor:pointer;
        font-size: 18px;
    }
    .channel-name-wrapper {
        color: #acaeb3;
        font-size: 12px;
        letter-spacing: 0.1px;
        margin-bottom: 0;
        .label-default {
            font-size: 8px;
            border-radius: 2px;
            background-color: #acaeb3;
            letter-spacing:0.6px;
            margin-left: 5px;
            vertical-align: middle;
        }
    }
    .feature-panel {
        float: right;
        position: relative;
        z-index: 3;
        display: none;
        .feature-panel-menu {
            text-decoration: none;
            color: #474848;
            font-size: 18px;
            z-index: 1;
        }
        .feature-list {
            position: absolute;
            right: 25px;
            top: -14px;
            background: #fff;
            z-index: 1;
            display: none;
        }
        &.open-feature {
            .feature-list {
                display: inline-block;
            }
        }
    }
    .feature-list {
        margin: 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;
        li {
            display: inline-block;
            vertical-align: middle;
            &.button-user-li {
                border-right: solid 2px #d5d6d8;

                padding-right: 23px;
                margin-right: 4px;
                a {
                    width: 24px;
                    height: 24px;
                    border: solid 1px #474848;
                    position: relative;
                    &:hover {
                        background-color: #fff;
                    }
                }
                .count {
                    border-radius: 100px;
                    background-color: #ffffff;
                    border: solid 1px #474848;
                    padding: 0px 5px;
                    color: #000;
                    position: absolute;
                    left: 16px;
                    font-size: 11px;
                    line-height: 13px;
                    letter-spacing: 0.1px;
                    color: #474848;
                    top: 4px;
                }
            }
            a {
                width: 2.5em;
                height: 2.5em;
                background-repeat: no-repeat;
                background-position: center center;
                margin: .5em;
                cursor: pointer;
                border-radius: 50%;
                display: inline-block;
                &:hover {
                    background-color: hsla(220,4%,84%,.5);
                }
            }
        }
    }
    .button-search{
      background-image:url(../images/headbar_search.svg);
    }

    .button-new{
      background-image:url(../images/headbar_new.svg);
    }

    .button-mention{
      background-image:url(../images/top-mention.svg);
    }

    .button-tag{
      background-image:url(../images/top-tags.svg);
    }

    .button-user{
      background-image:url(../images/user-icon-black.svg);
    }




}

@media screen and (min-width: 768px) {

    .goback-icon {
        display: none;
    }
    .header {
        .title-section {
            margin-left:0;
            .title {
                font-size: 26px;
                max-width: calc(100% - 264px);
                .channel-setting-gear {
                    top: 7px;
                    z-index: 1
                }
            }

        }
        .feature-panel {
            margin-top: 12px;
            margin-right: -8px;
            ul {
                li {
                    &.button-user-li {
                        padding-top:8px;
                        padding-bottom: 8px;
                    }
                    a  {
                        margin: 0 .5em;
                    }
                }
            }
            .feature-panel-menu {
                display: none;
            }
            .feature-list {
                display: inline-block;
                position: static;

            }
        }
    }
}
