@font-face {
    font-family: 'Rubik';
    src:  url('./fonts/Rubik.woff2') format('woff2'), url('./fonts/Rubik.woff') format('woff'), url('./fonts/Rubik.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik-Light';
    src:  url('./fonts/Rubiklight.woff2') format('woff2'), url('./fonts/Rubiklight.woff') format('woff'), url('./fonts/Rubiklight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik-LightItalic';
    src:  url('./fonts/Rubiklightitalic.woff2') format('woff2'), url('./fonts/Rubiklightitalic.woff') format('woff'), url('./fonts/Rubiklightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Italic';
    src: url('./fonts/Rubikitalic.woff2') format('woff2'), url('./fonts/Rubikitalic.woff') format('woff'), url('./fonts/Rubikitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Rubik-Medium';
    src: url('./fonts/Rubikmedium.woff2') format('woff2'), url('./fonts/Rubikmedium.woff') format('woff'), url('./fonts/Rubikmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik-MediumItalic';
    src: url('./fonts/Rubikmediumitalic.woff2') format('woff2'), url('./fonts/Rubikmediumitalic.woff') format('woff'), url('./fonts/Rubikmediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Rubik-Bold';
    src:  url('./fonts/Rubikbold.woff2') format('woff2'), url('./fonts/Rubikbold.woff') format('woff'), url('./fonts/Rubikbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik-BoldItalic';
    src:  url('./fonts/Rubikbolditalic.woff2') format('woff2'), url('./fonts/Rubikbolditalic.woff') format('woff'), url('./fonts/Rubikbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Rubik-Black';
    src: url('./fonts/Rubikblack.woff2') format('woff2'), url('./fonts/Rubikblack.woff') format('woff'), url('./fonts/Rubikblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik-BlackItalic';
    src: url('./fonts/Rubikblackitalic.woff2') format('woff2'), url('./fonts/Rubikblackitalic.woff') format('woff'), url('./fonts/Rubikblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
