.organization-settings {
    .org-name-wrapper {
        margin-right: 99px;
    }
    .org-img-wrapper {
        position: absolute;
        top: 0;
        right: 0;
    }
    .chat-center-domain  {
        input {
            max-width: calc( 100% - 110px);
            min-width: 10px;
            width: 10px;
            padding-left: 0;
            padding-right: 0;
        }
        .prefix-text{
            padding-right: 0px
        }
    }
    .primary-link {
        font-family: 'Rubik-Medium';
    }

    .delete-org-desc {
        margin-top: 6px;
        margin-bottom: 8px;
        p {
            margin: 0;
        }
    }
    
    

}