.primary-tabnav-component {
    margin-left: 72px;
    position: relative;
    .save-button {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .primary-tabnav-content {
        min-height: 100vh;
        margin-left: 216px;
        padding: 48px 49px 0 49px;
        color: #474848;
        position: relative;
        .primary-tabnav-feature-buttons {
            position: absolute;
            right: 48px;
            top: 48px;
            .cc-btn {
                display:inline-block;
                vertical-align: middle;
                margin-right: 15px;
            }
            .form-change-status {
                display: inline-block;
                margin-right: 20px;
                color: #555860;
                opacity: 0.5;
            }
        }

        
    }
}


@media screen and (max-width: 767px) {
    .primary-tabnav-component {
        margin-left:0;
        .primary-tabnav-content {
            margin-left: 0;
            padding-top: 10px;
        }
        &.open-widget-menu {
            overflow: hidden;
            .primary-tabnav-content {
                left: 216px;
                position: relative;
                overflow: hidden;
            }
            
        }
    }
    
}

