.primary-tabnav-component {
    margin-left: 72px;
    position: relative;
    .save-button {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .primary-tabnav-content {
        min-height: 100vh;
        margin-left: 216px;
        padding: 48px 49px 0 49px;
        color: #474848;
        position: relative;
        .primary-tabnav-feature-buttons {
            position: absolute;
            right: 48px;
            top: 48px;
            .cc-btn {
                display:inline-block;
                vertical-align: middle;
                margin-right: 15px;
            }
            .form-change-status {
                display: inline-block;
                margin-right: 20px;
                color: #555860;
                opacity: 0.5;
            }
        }

        
    }
}





.settings-page {
    .ovel-close-wrapper {
        top: 45px;
        right: 45px;
    }
    .primary-title {
        letter-spacing: -0.5px;
        line-height: 1.2;
        color: #000000;
        font-size: 40px;
        font-family:'Rubik-Medium';
        margin: 0;
        padding-top: 29px;
    }
    .primary-label {
        letter-spacing: 0.1px;
        font-family:'Rubik-Medium';
        color: #474848;
        font-size: 18px;
        font-weight: 500;
        margin: 0;
    }
    .settings-page-content {
        padding-top: 26px;
    }
    .primary-tabnav-content {
        padding: 61px;
        padding-top: 53px;
        padding-right: 32px;
        max-width: 730px;
    }

    .settings-page-content {
        max-width: 465px;
    }
    .form-input-wrapper {
        margin-top: 43px;
        position: relative;
        input {
            color: #474848;
        }
    }

    .with-addon{
        white-space: nowrap;
        box-shadow: inset 0 -2px 0 0 #474848;
        .prefix-text, .suffix-text {
            display: inline-block;
            vertical-align: middle;
            padding: 4px 9px 7px 0px;
            background: transparent;
            border-width: 0px;
            border-radius: 0px;
            font-size: 18px;
            color: #9a9da1;
            margin: 14px 0 0 10px;
        }
        .suffix-text {
            margin-left: 0;
        }
        input {
            display: inline-block;
            vertical-align: middle;
            box-shadow: none;
        }
        .double-slashes {
            padding-right: 5px;
            margin-right: -3px;
        }
    }

    .with-addon-icon {
        box-shadow: inset 0 -2px 0 0 #474848;
        .prefix-text {
            position: absolute;
            left: 7px;
            bottom: 24px;
            font-size: 24px;
            color: #474848;
        }
        input {
            width: calc( 100% - 36px );
            box-shadow: none;
            margin-left: 36px;
        }
        label {
            margin-left: 46px;
        }
    }
    .material-input.float-label .with-addon-icon  label {
        -webkit-transform: translate3d(-34px, -39px, 0);
        transform: translate3d(-34px, -39px, 0);
    }

    .material-input label{
        font-family:'Rubik-Medium';
        font-weight: normal
    }

    .input-status-text {
        margin-top: 6px;
        overflow: auto;
        a {
            float: right;
            letter-spacing: 1px;
        }
    }

    .use-own-domain {
        input {
            max-width: calc( 100% - 80px);
            padding-left: 0;
            padding-right: 0;
        }
        .prefix-text{
            padding-right: 0px
        }
    }





   
}

.save-changes-wrapper {
    text-align: right;
    .status-text {
        line-height: 1.85;
        color: #555860;
        font-size: 13px;
        opacity: 0.5;
        vertical-align: middle;
        display: inline-block;
        margin-top: -5px;
    }
    .cc-btn {
        margin-left:16px;
        font-family:'Rubik-Medium';
    }
}

@media screen and (max-width: 767px) {
    .primary-tabnav-component {
        margin-left:0;
        .primary-tabnav-content {
            margin-left: 0;
            padding-top: 10px;
        }
        &.open-widget-menu {
            overflow: hidden;
            .primary-tabnav-content {
                left: 216px;
                position: relative;
                overflow: hidden;
            }
            
        }
    }
    .settings-page {    
        .primary-tabnav-content {
            padding-left: 32px;
        }
        .ovel-close-wrapper {
             top: 0px;
             right: 0px;
             .ovel-close{
                width: 25px;
             }
        }
    }
}

