

.left-aligned-message {
  align-self: flex-start;
  flex-direction: column;
  padding: 0 68px 0 0;
}

.right-aligned-message {
  align-self: flex-end;
  flex-direction: column;
  padding: 0 0 0 68px;
}

.unread-message-notification {
    font-size: 13px;
    font-weight: 400;
    color: #474848;
    opacity: 0.9;
    position : absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 13px 13px 12px 13px;
    display: none;
    a {
        float: right;
        font-family: 'Rubik-Bold';
    }
}

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 9px;
  margin-bottom: 9px;
  font-family: Rubik;

  .chat-message {
    position: relative;
    display: flex;
  }
  .bubble-arrow-left {
    color: #333;
    padding: 0 0 0 8px;
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 8px 7px 0;
      position: absolute;
      top: 10.445px;
      content: '';
      display: inline-block;
      transition: all ease-in 0.5s;
      border-color: inherit;
      left: -4px;
      right: auto;
      border-width: 7px 8px 7px 0px;
    }
  }
  .bubble-arrow-right {
    padding: 0 8px 0 0;
    color: #FFFFFF;
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 8px 7px 0;
      position: absolute;
      left: -4px;
      top: 10.445px;
      content: '';
      display: inline-block;
      transition: all ease-in 0.5s;
      border-color: inherit;
      right: -4px;
      left: auto;
      border-width: 7px 0 7px 8px;
    }
  }
  .message-bubble {
    padding: 7px 8px;
    border-radius: 9px;
    position: relative;
    max-width: 400px;
    transition: all ease-in 0.5s;
  }
  .avatar-wrapper {
  }
  .avatar {
    height: 28px;
    width: 28px;
    object-fit: contain;
  }
  .received-message {
    display: flex;
  }
  .message-input {
    padding: 0 0 0 8px;
    height: 100%;
    font-size: 14px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 0.5px #e7eaec;
  }
}

.time-bubble{text-align:right; clear:both; margin-right: 40px; font-size: 13px; color: #999; padding-top: 5px; }
.today .img-circle,.today .avatar{ bottom:2.5em; }
