#signupbox {
	width:600px;
	box-sizing:border-box;
	padding: 95px 68px 30px;
	font-size:16px;
	left:50%;
	margin-left:-300px;
	a, a:visited, a:active, a:focus, a:hover {
	  color: #3997fe !important;
	  text-decoration:none !important;
	}
	.terms a, .terms a:visited, .terms a:active, .terms a:focus, .terms a:hover {
	  color: #474848 !important;
	  text-decoration:underline !important;
	}
	.error-message {
		color:#c91913;
	}
	.message-wrapper {
		font-size: 14px;
		text-align: center;
		margin-left: 13px
	}
	.terms {
		margin-top:30px;
		font-size:14px;
	}
	.logo {
		width: 75.6px;
  		height: 65.5px;
  		position:absolute;
  		left:-34px;
  		top: 40px;
	}
	.logo-wrapper {
		text-align:center;
		.logo {
	  		position:static;
	  		margin-left: -10px;
		}
	}
	.details {
		font-size:16px;
		color:#9a9da1;
		margin-bottom:20px;
	}
	.title {
		font-size:50px;
		margin-top: 10px;
		margin-bottom: 20px;
		font-family: Rubik-Medium;
	}
	.inner-title {
		font-size:40px;
		margin-top: 29px;
	    letter-spacing: -0.2px;
	    margin-bottom: 30px;
	    line-height: 48px;
	}
	.domain-form {
		.inner-title {
			margin-right: 10px;
		}
		.own-domain-wrapper {
	    	padding-right: 14px;
		}
		.desc {
			margin-top: 48px
		}
		.button-wrapper {
			margin-top: 28px;
		}
		.user-name {
			padding-right: 0;
		}
			
		
	}
	.ind-details-from {
		.button-wrapper {
			margin-top: 37px;
		}
	}
	.qn-label {
		color:#9a9da1;
		font-size:16px;
		font-weight:normal;
		margin-top:10px;
	}
	.ans-label {
		color:#000;
		font-size:20px;
		display:block;
	}
	.input-group {
		margin-bottom:8px;
	}
	/*.domain-form .input-group{
		box-shadow: inset 0 -2px 0 0 #474848;
		padding-bottom: 2px;
		width: 100%;
	}
	.domain-form .input-group-addon, .domain-form input{
		box-shadow: none;
	}*/
	.input-group-addon {
		padding:4px 9px 7px 0px;
		background: transparent;
		border-width:0px;
		border-radius:0px;
		box-shadow: inset 0 -2px 0 0 #474848;
		font-size:18px;
		img {
			width: 25px;
    		height: 30px;
    		margin-top:6px;
		}
		img.prefix {
    		margin-top:-2px;
		}
		.prefix-text {
			color: #9a9da1;
		    display: inline-block;
		    margin: 14px 0 0 10px;
		}
		.prefix-text.slash {
		    margin: 5px 0 0 2px;
		    font-weight:bold;
		    color:#000;
		}
	}
	input {
		height:72px;
		border-width:0px;
		box-shadow:none;
		border-radius:0px;
		box-shadow: inset 0 -2px 0 0 #474848;
		font-size:18px;
		padding:5px 0px 0px;
		color: #000000;
	}
	.desc {
		color:#9a9da1;
		line-height:20px;
		padding:12px 0;
		font-size:14px;
		clear:both;
		letter-spacing: 0.1px;
		&+.desc {
			padding-top: 0px;
		}
		ul {
			list-style-type:none;
			padding:0;
			margin:0;
			li {
			padding:0;
			margin:0;
			}
		}
		.desc-ex{
			margin: 0;
			color: #474848;
		}
	}
	.org-detail-form {
		.inner-title {
		    margin-bottom: 30px;
		    margin-top: 27px;
		}
	}
	.org-address-form {
		.inner-title {
			margin-top: 27px;
		}
		.desc {
			margin-top: 27px;
    		margin-left: 2px;
		}
		.button-wrapper {
			margin-top: 24px;	
		}
		
	}
	.org-join-form {
		.inner-title {
		    margin-top: 27px;
		}
	}
	.capitalize{
		text-transform: capitalize;
	}
	.verify-details {
	    .input-group  {
	    	margin-bottom: 17px;
	    }
	    .password-input-group {
	    	margin-top: 28px;
	    }
	    .inner-title {
		    margin-top: 27px;
		    margin-bottom: 18px;
		}
		.button-wrapper {
			margin-top: 24px;
		}
		button.back {
			width: 107px;
		}
		.terms {
			margin-top: 34px;
		}
	}
	.button-wrapper {
		margin:50px 0 0;
	}
	.ind-domain-form {
		.button-wrapper {
			margin:26px 0 0;
		}
		button.back {
			width: 107px;
		}
		.user-name {
			padding-right: 0;
		}
	}	

	.name-chat-form, .org-detail-form {
		.desc {
			margin-top: -4px;
		}
		.button-wrapper {
			margin-top: 24px;
		}
	}	
	button {
		padding:10px 0;
		height: 48px;
		border-radius: 5px;
		background-color: #fec039;
		text-align:center;
		border-color:transparent;
		box-sizing:border-box;
		font-size:20px;
		margin:1
	}
	button[disabled] {
		background-color: #e2e2e2;
		color:#fff;
	}
	button.sign-up {
		width: 336px;
		margin-top:23px;
	}
	button.sign-up-inline {
		width: 186px;
		margin-top:12px;
	}
	button.sign-in {
		width: 182px;
	}
	button.back {
		background-color: transparent;
		width: 120px;
	}
	.connector {
	  	height: 22px;
	  	color: #9a9da1;
	  	text-align:center;
	  	font-size:18px;
	  	margin:24px 0;
	}
	.user-status {
		position:absolute;
		top:10px;
		left:10px;
		span{
		  width: 12px;
		  height: 12px;
		  background-image: radial-gradient(circle at 50% 50%, #ff5f56, #ff625a);
		  border-image-slice: 1;
		  border-radius:50%;
		  margin:3px;
		  display:inline-block;
		}
		span.offline{
		  background-image: radial-gradient(circle at 50% 50%, #ff5f56, #ff625a);
		}
		span.inactive{
		  background-image: radial-gradient(circle at 50% 50%, #ffbd2e, #ffc22c);
		}
		span.online{
		  background-image: radial-gradient(circle at 50% 50%, #27c940, #2ad042);
		}
	}
	.quick-link {
		display: block;
    	margin-top: 10px;
    }

    .own-domain-wrapper {
    	margin-top: -3px;
    	padding-right: 12px;
	    .own-domain {
	    	color:#474848 !important;
	    	text-decoration:underline !important;
	    	font-size:14px;
	    	float:right;
	    }
    }
    .user-type {
    	max-width:340px;
    	margin:auto;
    	a {
    		padding:15px 0;
    		display:inline-block;
    		text-align:left;

	    	img{
		    	width:60px;
		    	height:56px; 
		    	float:left;
		    	margin-top:10px;
		    }
		    strong{
		    	color:#000;
		    	font-size:22px;
		    	font-weight:normal;
		    }
		    span.user-type-content{
		    	color:#9a9da1;
		    	font-size:16px; 
		    	float:left; 
		    	padding:0 0 0 15px;
		    	max-width:234px;
		    	span {
		    		clear: both;
				    display: block;
				    color:#9a9da1;
		    	}
		    }

	    }
    }
    .user-type.org {
    	margin-bottom: 9px;
    }
    .user-type.ind {
    	margin-top: 13px;
    }
    .user-type.ind:hover, .user-type.org:hover {
    	background: #FFE7AD;
    	border-radius: 5px;
    }
    .user-type.median{
    	border-bottom:2px solid #474848;
    }    
    .sign-in-wrapper {
        background: #eee;
	    clear: both;
	    padding: 11px 17px;
	    margin: 30px auto 0;
	    display: inline-block;
	    margin-top: 55px;
	    letter-spacing: 0.4px;
	    padding-left: 25px;
	    padding-right: 25px;
	    border-radius: 3px;
	    span {
	    margin-right:5px;
	    }
    }
    .sign-in-wrapper::before {
    	content:'';
    	display:table;
    	clear:both;
    }
    .mrgTop0 {
    	margin-top:0px !important;
    }
    .domain-small {
    	display:none;
    }
    button.domain-big-button {
    	width: 336px;
    	letter-spacing: 0.9px;

    }
    .chat-address {
    	margin-top:0;
    	display:inline-block;
    	color: #9a9da1;
    	clear:both;
    }
    .error-msg, .success-msg, .loading-msg {
		color:#c91913;
		display:none;
	}
	.loading-msg {
		padding-top:10px;
		height:22px;
	}
	.success-msg {
		color:#299e4c;
	}

	.error + .message-wrapper .error-msg {
		display:block;
	}
	.error .prefix-text, .error .prefix-text.slash {
		color:#c91913;
	}
	.error input {
		color:#c91913;
	}
	.success + .message-wrapper {
		.error-msg + .success-msg {
			display:block;
		}
	}
	.loading + .message-wrapper {
		.error-msg + .success-msg + .loading-msg{
			display:block;
		}
	}
	.name-your-chat {
		.desc {
			margin-top: -4px;
		}
	}
	.double-slashes {
    	
    	padding-right: 5px;
    	margin-right: -3px;
    }

    .chat-center-address-input {
    	box-shadow: inset 0 -2px 0 0 #474848;
    	white-space: nowrap;
    	max-width: 100%;
    	&.input-group .form-control {
    		display: inline-block;
    	}
    	.input-group-addon .prefix-text {
    		margin-top: 8px;
    	}
    	.form-control {
    		width: auto;
    		min-width: 10px;
    		width: 10px;
    		max-width: calc( 100% - 110px );
    	}
    	.input-group-addon.suffix {
    		display: inline-block;
    		width: auto;
    		vertical-align: middle;
    		height: 72px;
    		padding-top: 19px;
    		.prefix-text  {
    			margin-left: 0;
    		}
    	}
    }

}

#signupbox.logo-centered { 
	padding: 30px 130px 30px;
	.logo {
		width: 121.4px;
  		height: 105.3px;
	}
}

/* Validation error message styles starts here*/
.validation-fail{
	color:#c91913;
}
.hide-visibility{
	visibility:hidden;
}
/* Validation error message styles ends here*/

/* media queries */
@media only screen and (max-width : 650px) {
	#signupbox {
		width:100%;
		box-sizing:border-box;
		padding: 40px 15px 30px 15px;
		left:auto;
		margin-left:auto;
		.logo {
	  		position:static;
		}
		.own-domain-wrapper {
			text-align:center;
		    .own-domain {
		    	color:#474848 !important;
		    	text-decoration:underline !important;
		    	font-size:14px;
		    	float:none;
		    }
	    }
	}
}
@media only screen and (max-width : 599px) {
	#signupbox.logo-centered { 
		padding: 30px 15px 30px;
		.logo {
			width: 121.4px;
	  		height: 105.3px;
		}
	}
}

@media only screen and (max-width : 489px) {
	#signupbox.logo-centered { 
		padding: 30px 15px 30px;
		.logo {
			width: 121.4px;
	  		height: 105.3px;
		}
	}
	#signupbox {
		.domain-small {
	    	display:block;
	    }
	    .domain-big {
	    	display:none;
	    }
	    button.domain-big-button {
	    	width: 100px !important;
	    }
    }
}

@media only screen and (max-width : 335px) {
	#signupbox {
		button.sign-up {
			width: 100%;
		}
		button.sign-in {
			width: 130px;
		}
		button.back {
			background-color: transparent;
			width: 100px;
		}
		.user-type a span.user-type-content{
	    	max-width:200px;
	    }
	}
}

@media only screen and (min-width : 651px) {
	#signupbox {
		.domain-form, .org-detail-form, .org-address-form, .ind-details-from,.name-chat-form {
			button.back {
				margin-left: 30px;
			}
		}
	}

	#signupbox {
		.message-wrapper {
			float: left;
		}
	}
}


#calc-input-width  {
	font-size: 18px;
	font-family: inherit;
	position: absolute;
	z-index: -1;
	left: -99999px;
}
.sucess-msg{ color:#138536 }
#signupbox{
	.moderator-item-wrapper {
		padding: 0 10px;
	}
	.add-via-chat-link {
		
		font-size: 14px;
		letter-spacing: 0.1px;
		color: #9a9da1;
	    font-size: 14px;
	    letter-spacing: 0.1px;
	    color: #9a9da1;
	    text-decoration: underline;
	    display: inline-block;
    	margin-top: 10px;
	}
	.moderator-item {
		margin-top: 20px;
		.avatar-wrapper {
			display: inline-block;
			vertical-align: middle;
			margin-right: 12px;

			.avatar-text, avatar-img {
				width: 28px;
				height: 28px;
				background-color: #45b166;
	            color: #fff;
	            text-align: center;
	            line-height: 29px;
	            display: inline-block;
	            border-radius: 50%;
			}
			
            .avatar-img {
            	display: none;
            }
		}	
		.user-name {
        	display: inline-block;
        	vertical-align: middle;
        	text-transform:capitalize;
        }
        .user-chat-address-wrapper {
        	float: right;
        	margin-top: 5px;
        	.user-chat-address {
	        	color: #9a9da1;
	        }
	        button {
	        	border: 0;
	        	background: none;
	        	margin-left: 13px;
	        	color: #9a9da1;
	        }
        }
        .close-wrapper {
        	float:right;
        	margin:7px 0 0 7px;
        }
        
	}
	.moderator-item-wrapper.filter-result {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		.moderator-item {
			margin-top:0;
			padding:10px 0;
			cursor:pointer;
		}
	}
	&.chat-name-address, &.moderators-form {
		.section-content {
			max-width: 464px;
		}
		.section-title-1 {
			margin-bottom: 2px;
		}
	}
	&.moderators-form {
		.input-wrapper {
			margin-top: 36px;
		}
	}
	.section-title {
		font-size: 40px;
		line-height: 1.2;
		letter-spacing: -0.5px;
		margin: 0;
		font-weight: normal;
		font-family: Rubik-Medium;    
		margin-bottom: 6px;
	}
}