.chat-panel {
    width: calc( 100% - 312px );
    float: left;
    height: 100%;
    .chat-messages-wrapper {
        height: calc( 100% - 48px );
    }
}

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;
}

.chat-messages {
    margin: 0;
    padding: 0;
    list-style: none;
    &>li {
        margin:7px 12px; 
        &.sent-message  {
            .message-bubble {
                background-color: #138536;
                color: #fff;
                &:after{
                    border-color: transparent transparent transparent #138536;
                }
            }
        }
    }
    .chat-message {
        position: relative;
        overflow: auto;
    }
    .message-bubble {
        background-color: #eeeff0;
        color: #333;
        float: right;
        padding: 7px 8px;
        border-radius: 9px;
        margin-right: 36px;
        position: relative;
        max-width: 236px;
        transition: all ease-in 0.5s;
        &:after{
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 8px 7px 0;
            position: absolute;
            left: -4px;
            bottom: 10px;
            content: '';
            display: inline-block;
            transition: all ease-in 0.5s;
            border-color: transparent transparent transparent #eeeff0;
            right: -4px;
            left: auto;
            border-width: 7px 0 7px 8px;
        }
    }
    .img-circle,.avatar {
        height: 28px;
        width: 28px;
        position: absolute;
        right: 0;
        bottom: 0px;
        border-radius: 50%;
        color: #fff;
        background: #138536;
        text-align: center;
        line-height: 28px;
        font-size: 13px;
        text-transform: uppercase;
    }
    .img-circle {
        display: none;
    }
    .received-message {
        .message-bubble {
            margin-left: 36px;
            margin-right: 0px;
            float: left;
            &:after {
                right: auto;
                left: -4px;
                border-color: transparent #eeeff0 transparent transparent;
                border-width: 7px 8px 7px 0;
            }
        }
        .img-circle,.avatar {
            right: auto;
            left: 0
        }
    }

}

.guest-messaging-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    height: calc( 100vh - 59px );
    .header-section {
        padding: 10px;
    }
    h1 {
        margin: 0;
        
    }
    .post-form-wrapper {
        margin:0 auto;
        max-width: 1000px;
    }
    
    .login-link-wrapper {
        float: right;
        margin-top: 12px;
        a {
            text-decoration: none;
        }
    }

}