.chat-messages-wrapper {
  width: inherit;
}

.unread-message-notification {
    font-size: 13px;
    font-weight: 400;
    color: #474848;
    opacity: 0.9;
    position : absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 13px 13px 12px 13px;
    display: none;
    a {
        float: right;
        font-family: 'Rubik-Bold';
    }
}

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 9px;
  margin-bottom: 9px;

  .chat-message {
      position: relative;
      overflow: auto;
  }
  .message-bubble {
      color: #333;
      padding: 7px 8px;
      border-radius: 9px;
      margin-right: 36px;
      position: relative;
      max-width: 236px;
      transition: all ease-in 0.5s;
      &:after{
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 8px 7px 0;
          position: absolute;
          left: -4px;
          bottom: 10px;
          content: '';
          display: inline-block;
          transition: all ease-in 0.5s;
          border-color: transparent transparent transparent #eeeff0;
          right: -4px;
          left: auto;
          border-width: 7px 0 7px 8px;
      }
  }
  .img-circle,.avatar {
      height: 28px;
      width: 28px;
      position: absolute;
      right: 0;
      bottom: 0px;
      border-radius: 50%;
      color: #fff;
      background: url( './files/avatar.png' ) no-repeat;
      text-align: center;
      line-height: 28px;
      font-size: 13px;
      text-transform: uppercase;
  }
  .received-message {
    padding-right:12px;
      .message-bubble {
          // &:after {
          //     right: auto;
          //     left: -4px;
          //     border-color: transparent inherit transparent transparent;
          //     border-width: 7px 8px 7px 0;
          // }
      }
  }
}

.guest-messaging-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    height: calc( 100vh - 59px );
    padding-bottom: 49px;
    .header-section {
        padding: 10px;
    }
    .post-form-wrapper {
        margin:0 auto;
        max-width: 1000px;
    }
}

.time-bubble{text-align:right; clear:both; margin-right: 40px; font-size: 13px; color: #999; padding-top: 5px; }
.today .img-circle,.today .avatar{ bottom:2.5em; }
