.chat-panel {
    width: 100%;
    float: left;
    height: 100%;
    position: relative;
    padding-bottom: 49px;
    .chat-messages-wrapper {
        /*height: calc( 100% - 48px );*/
    }
    .chat-message-tabel {
        width: 100%;
        height: 100%;
        font-size: 14px;
        line-height: 1.42857;
        td {
            vertical-align: bottom;
        }
        &.default-message-table {
            td {
                vertical-align: top;   
            }
            
        }  
    }
}
.unread-message-notification {
    font-size: 13px;
    font-weight: 400;
    color: #474848;
    opacity: 0.9;
    position : absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 13px 13px 12px 13px;
    display: none;
    a {
        float: right;
        font-family: 'Rubik-Bold';
    }
}

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;
}

.chat-messages {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 9px;
    margin-bottom: 9px;
    &>li {
        margin:7px 12px 0px 12px; 
        &.sent-message  {
            .message-bubble {
                /*background-color: #138536;
                color: #fff;
                &:after{
                    border-color: transparent transparent transparent #138536;
                }*/
            }
        }
        &.same-user {
            margin-top: 2px;
            .img-circle, .avatar {
                display: none;
            }
            .message-bubble:after {
                content: none;
            }
        }
    }
    .chat-message {
        position: relative;
        overflow: auto;
    }
    .separation-text {
        color: #9a9da1;
        font-size: 13px;
    }
    .message-bubble {
        background-color: #eeeff0;
        color: #333;
        float: right;
        padding: 7px 8px;
        border-radius: 9px;
        margin-right: 36px;
        position: relative;
        max-width: 236px;
        transition: all ease-in 0.5s;
        &:after{
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 8px 7px 0;
            position: absolute;
            left: -4px;
            bottom: 10px;
            content: '';
            display: inline-block;
            transition: all ease-in 0.5s;
            border-color: transparent transparent transparent #eeeff0;
            right: -4px;
            left: auto;
            border-width: 7px 0 7px 8px;
        }
    }
    .img-circle,.avatar {
        height: 28px;
        width: 28px;
        position: absolute;
        right: 0;
        bottom: 0px;
        border-radius: 50%;
        color: #fff;
        /*background: #138536;*/
        text-align: center;
        line-height: 28px;
        font-size: 13px;
        text-transform: uppercase;
    }
    /*.img-circle {
        display: none;
    }*/
    .received-message {
        .message-bubble {
            margin-left: 36px;
            margin-right: 0px;
            float: left;
            &:after {
                right: auto;
                left: -4px;
                border-color: transparent #eeeff0 transparent transparent;
                border-width: 7px 8px 7px 0;
            }
        }
        .img-circle,.avatar {
            right: auto;
            left: 0
        }
    }

}

.guest-messaging-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    height: calc( 100vh - 59px );
    .header-section {
        padding: 10px;
    }
    h1 {
        margin: 0;
        
    }
    .post-form-wrapper {
        margin:0 auto;
        max-width: 1000px;
    }
    
    .login-link-wrapper {
        float: right;
        margin-top: 12px;
        a {
            text-decoration: none;
        }
    }
    .chat-message-tabel {
        width: 100%;
        height: 100%;
        font-size: 14px;
        line-height: 1.42857;
        td {
            vertical-align: bottom;
        }
        &.default-message-table {
            td {
                vertical-align: top;   
            }
            
        }  
    }

}
.user-name-display{
    font-size: 13px;
}
.received-message .user-name-display{
    padding-left: 40px;
    color: #ccc;
}
.sent-message .user-name-display{
    padding-right: 40px;
    color: #ccc;
    text-align: right;
}
.time-bubble{text-align:right; clear:both; margin-right: 40px; font-size: 13px; color: #999; padding-top: 5px; }
.today .img-circle,.today .avatar{ bottom:2.5em; } 