.upgrade-component {
    .upgrade-title {
        font-family: 'Rubik-Medium';
        font-size: 40px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.5px;
        color: #000000;
    }
}