.cc-btn {
    border-radius: 5px;
    /*background-color: #fdb22b;*/
    border: 0;
    /*color: #fff;*/
    padding: 8px 28px 5px 28px;
    font-size: 14px;
    letter-spacing: 0.8px;
    text-decoration: none;
    &:hover,&:focus{
        /*color: #fff;*/
        text-decoration: none;
    }
    &.disabled,&[disabled] {
        background-color: #d5d6d8;
        cursor: default;
    }
    &.wait {
        cursor: wait
    }
}

.widget-installation {
    .widget-description {
        max-width: 486px;
    }
    .installation-script-section {
        border-radius: 5px;
        background-color: #ffffff;
        border: solid 0.5px #e7eaec;
        padding: 8px 31px 17px 15px;
        font-family: 'Rubik-Light';
        font-size: 14px;
        font-weight: normal;
        line-height: 1.71;
        color: #555860;
        letter-spacing: 1.5px;
        line-height: 2.2;
    }
    .widget-link {
        /*color: #fdb22b;*/
    }
    .link-email-instructions {
        float: right;
        margin-top: 10px;
        font-size: 15px;
        letter-spacing: 0.1px;
    } 
    .tip-wrapper {
        margin-top: 35px;
        font-size: 15px;
    }
    .plugins-section {
        margin-top: 25px;
        max-width: 720px;
        padding-bottom: 48px;
    }
    .pulgin-for-tile {
        width: 33.33%;
        display: inline-block;
        font-family: "Rubik-Medium";
        margin-bottom: 16px;
        .pulgin-for {
            padding: 11px 16px 8px 16px;
            border-radius: 5px;
            /*background-color: #fdb22b;
            color: #fff;*/
            margin-right: 16px;
            
        }
        .platform-logo {
            width: 40px;
            height: 40px;
            float: left;
        

        }
        .platform-name-wrapper {
            margin-left: 47px;
        }
        .wordpress-logo {
            background: #fff url('./images/wordpress.svg') no-repeat;
            background-size: 100%;
            border-radius: 50%; 
        }
        .primary-text {
            font-size: 11px;
            letter-spacing: 0.6px;
            line-height: 1.6;
        }

        .platform-name {
            font-size: 22px;
            letter-spacing: 1.1px;
            line-height: 1.3;
        }

        
        
  
    }
    
}
/*just targetted for mobile resolution*/
@media screen and (max-width: 767px) {
    .widget-installation {
        .pulgin-for-tile {
            width: 100%;
        }   
    }
}
