.widget-appearance {
    .key-colors-section {
        .key-color-label {
            font-family: 'Rubik-Medium';
            font-size: 15px;
            line-height: 1.6;
            margin-top: 38px;
            color: #474848;
            margin-bottom: 3px;
        }
    }
    .color-tile-wrapper {

        .color-tile {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            margin-right: 12px;
            vertical-align: middle;
            &.selected {
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                &:after {
                    position: absolute;
                    width: 6px;
                    height: 2px;
                    background-color: #fff;
                    left: 11px;
                    top: 19px;
                    content: '';
                }
                &:before{
                    position: absolute;
                    width: 2px;
                    height: 12px;
                    background-color: white;
                    left: 16px;
                    top: 8px;
                    content: "";
                }
            }
        }
        .custom-color-picker {
            display: inline-block;
            padding: 6px 8px;
            background-color: rgba(213, 214, 216, 0.5);
            border-radius: 100px;
            padding-right: 20px;
            margin-right: 8px;
            position: relative;
            cursor: pointer;
            .color-tile  {
                margin-right: 16px;
            }
            &>div {
                position: absolute;
                top: 0;
                left: 0;
            }
            
        }
        .custom-color-picker-wrapper {
            display: inline-block;
            vertical-align: middle;
            font-family: "Rubik-Medium";
            font-size: 15px;
            line-height: 1.6;
            letter-spacing: 0.1px;
            color: #000000;
        }
    }
    .switchs-wrapper {
        width: 240px;
        float: left;    
    }
    .switch-label {
        display: inline-block;
        vertical-align: middle;
        width: 120px;
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: -0.2px;
        color: #000000;
        font-family: 'Rubik-Medium';

    }

    .input-field-wrapper {
        margin-bottom: 23px;
    }

    .channel-logo-input-wrapper {
        float: left;
        display: table;
        #channelLogo {
            width: 0;
            height: 0;
            position: absolute;
            overflow: hidden;
        }
        .cell {
            display: table-cell;
            vertical-align: middle;
            padding-left: 24px;

        }
        .channel-logo-preview {
            width: 72px;
            height: 72px;
            border-radius: 2px;
            background-color: #ffffff;
            border: solid 1px rgba(150, 150, 150, 0.23);
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            img {
                max-width: 100%;
            }
        }
        button {    
            border-radius: 5px;
            border: solid 1px #fec039;
            background: none;
            font-family: 'Rubik-Medium';
            font-size: 14px;
            letter-spacing: 0.7px;
            /*color: #fdb22b;*/
            padding: 5px 15px;
        }
    }
    .inputs-wrapper {
        overflow: auto;
        margin-top: 42px;
    }
    .widget-preview-label-wrapper {
        margin-top: 32px;
        max-width: 647px;
        .preview-label {
            font-size: 20px;
            font-weight: normal;
            line-height: 1.2;
            color: #000000;

        }
        .edit-label-link {
            float: right;
            /*color: #fdb22b;*/
            font-family: 'Rubik-Medium';
            margin-top: 4px;
            letter-spacing: 0.1px;

        }    
    }
    .preview-wrapper {
        margin: 0 -48px;
        margin-top: 28px;
        img {
            width: 100%;
        }
    }
}

/*just targetted for mobile resolution*/
@media screen and (max-width: 767px) {
    .widget-appearance {
        .preview-wrapper {
            margin-left: -15px;
            margin-right: -15px;
        }
        .widget-preview-label-wrapper {
            .preview-label {
                font-size: 16px;
            }
        }
        .color-tile-wrapper .color-tile {
            margin-bottom: 10px;
        }
        .custom-color-picker .color-tile{
            margin-bottom: 0;
        }
    }

}

.color-picker-model {
    position: absolute;
    &>div {
        padding-bottom: 32px !important;
    }
    .buttons-holder {
        position: absolute;
        bottom: 3px;
        left: 3px;
        right: 3px;
        padding-bottom: 0 !important;
    }
    .negative-btn {
        background: none;
        color: #000
    }

}