.transaction-history {
    position: relative;
    padding-top: 30px;
    max-width: 820px;
    .transaction-table-wrapper {
        max-width: 500px;
    }
    .transaction-table {
        letter-spacing: 0.1px;
        color: #474848;
        margin-top: 19px;
        thead {
            font-size: 14px;
            font-weight: 500;
            th {
                padding: 12px 0;
            }
            
        }
        td  {
            padding: 10px 0;
            font-size: 18px;
            &:first-child {
                padding-right: 63px;
            }
        }
    }
}