#loginbox {
	width:600px;
	box-sizing:border-box;
	padding: 95px 130px 30px;
	font-size:16px;
	left:50%;
	margin-left:-300px;
	a, a:visited, a:active, a:focus, a:hover {
	  color: #3997fe !important;
	  text-decoration:none !important;
	}
	.error-message {
		color:#c91913;
		margin:10px 0;
	}
	.login-error-message {
		color:#c91913;
		border-top:2px solid #c91913;
		border-bottom:2px solid #c91913;
		padding:10px 0;
	}
	.logo {
		width: 121.4px;
  		height: 105.3px;
  		position:absolute;
  		left:30px;
  		top: 40px;
	}
	.logo-wrapper {
		text-align:center;
		.logo {
	  		position:static;
		}
	}
	.title {
		font-size:50px;
		color:#000;
	}
	.details {
		font-size:16px;
		color:#9a9da1;
	}
	.input-group-addon {
		padding:8px;
		background: transparent;
		border-width:0px;
		border-radius:0px;
		box-shadow: inset 0 -2px 0 0 #474848;
		font-size:18px;
		img {
			width: 25px;
    		height: 30px;
    		margin-top:6px;
		}
		img.prefix {
    		margin-top:-2px;
		}
		.prefix-text {
			color: #9a9da1;
		    margin-top: 6px;
		    display: inline-block;
		    margin: 8px 0 0 10px;
		}
	}
	input {
		height:72px;
		border-width:0px;
		box-shadow:none;
		border-radius:0px;
		box-shadow: inset 0 -2px 0 0 #474848;
		font-size:18px;
		padding:5px 0px 0px;
		color: #000000;
	}
	.desc {
		color:#9a9da1;
		line-height:20px;
		padding:12px 0;
		font-size:14px;
	}
	button, a.sign-up {
		padding:10px 0;
		height: 48px;
		border-radius: 5px;
		background-color: #fec039;
		text-align:center;
		border-color:transparent;
		box-sizing:border-box;
		font-size:20px;
		margin:1
	}
	button[disabled] {
		background-color: #e2e2e2;
		color:#fff;
	}
	button.sign-in {
		width: 182px;
		margin-top:35px;
	}
	a.sign-up {
		width: 336px;
	}
	.connector {
	  	height: 22px;
	  	color: #9a9da1;
	  	text-align:center;
	  	font-size:18px;
	  	margin:24px 0;
	}
	.user-status {
		position:absolute;
		top:10px;
		left:10px;
		span{
		  width: 12px;
		  height: 12px;
		  background-image: radial-gradient(circle at 50% 50%, #ff5f56, #ff625a);
		  border-image-slice: 1;
		  border-radius:50%;
		  margin:3px;
		  display:inline-block;
		}
		span.offline{
		  background-image: radial-gradient(circle at 50% 50%, #ff5f56, #ff625a);
		}
		span.inactive{
		  background-image: radial-gradient(circle at 50% 50%, #ffbd2e, #ffc22c);
		}
		span.online{
		  background-image: radial-gradient(circle at 50% 50%, #27c940, #2ad042);
		}
	}
	.quick-link {
		display: block;
    	margin-top: 10px;
    }
    .sign-in-wrapper {
        background: #eee;
	    float:left;
	    padding: 5px 7px;
	    margin-top: 30px;
	    span {
	    margin-right:5px;
	    }
    }
    .sign-in-wrapper::before {
    	content:'';
    	display:table;
    	clear:both;
    }
    .forgot-password {
    	margin:25px -15px 0 0;
    	float:right;
    	text-align:right;
    }
}
#loginbox.logo-centered { 
	padding: 30px 68px 30px;
}

/* media queries */

@media only screen and (max-width : 600px) {
	#loginbox {
		width:100%;
		box-sizing:border-box;
		padding: 95px 15px 30px 15px;
		left:auto;
		margin-left:auto;
		.logo {
	  		position:absolute;
	  		left:10px;
	  		top: 40px;
		}
		.logo-wrapper {
			text-align:center;
			.logo {
		  		position:static;
			}
		}

	}
	#loginbox.logo-centered { 
		padding: 30px 15px 30px;
	}
}
@media only screen and (max-width : 335px) {
	#loginbox {
		.forgot-password {
	    	margin:15px -15px 0 0;
	    	float:none;
	    	text-align:center;
	    }
	}
}
@media only screen and (max-width : 396px) {
	#loginbox {
		.sign-in-wrapper {
	        clear:both;
		    margin: 30px auto 0;
		    float:none;
		    width:240px;
	    }	
		.forgot-password {
	    	margin:15px -15px 0 0;
	    	float:none;
	    	text-align:center;
	    	clear:both;
	    }
	}
}