.post-form-wrapper {
    width: inherit;
    bottom: 32px;
    border-top: 1px solid #eee;
    background: #f8f8f8;
    color: #555;
    height:55px;
    font-family: Rubik;

    .post-form {
      margin: 0;
      height: 32px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 14px 0px 12px;
      border-collapse: separate;
    }
    .message-input {
      padding: 0 8px 0 8px;
      height: 100%;
      width: 100%;
      border-radius: 5px;
      background-color: #ffffff;
      border: solid 0.5px #e7eaec;
    }
    .attach-button {
      height: 24px;
      min-width: 24px;
      background: url(./files/attach_button.svg) no-repeat;
      background-size: 100%;
      cursor: pointer;
    }
    .submit-button {
      border: 0;
      background: 0;
      color: #f7a444;
      cursor: pointer;
    }
    .message-input-wrapper {
      width: 100%;
      padding: 0px 11px 0px 12px;
    }
}
