.master-page-content {
    margin-left: 72px;
}
.upgrade-component {
    padding: 44px 94px;
    .upgrade-title {
        font-family: 'Rubik-Medium';
        font-size: 40px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.5px;
        color: #000000;
    }
    .upgrade-breadcrumb {
        margin-bottom: 38px;
        .back-link {
            padding-left: 20px;
            opacity: 0.3;
            font-size: 13px;
            line-height: 1.85;
            color: #000000;
            text-decoration: none;
            position: relative;
            background: url( '../../components/images/left-arrow.png') no-repeat;
        }
    }
    .upgrade-plans {
        .upgrade-breadcrumb {
            margin-bottom: 47px;
        }
    }
}


/*just targetted for mobile resolution*/
@media screen and (max-width: 767px) {
    .master-page-content {
        margin-left: 0;
    }
    .upgrade-component {
        padding: 15px 15px;
        .upgrade-title {
            font-size: 24px;
        }
        .upgrade-breadcrumb {
            margin-bottom: 20px;
        }
    }
}